.footer {
    /* position: fixed; */
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 0px;
    background: white;
}

.jumbotron {
    background-image: url("../images/microbes-sem-test.jpg");
    background-size: cover;
    color: orange;
}

.panel {
    border-color: black;
}